{% load static %}


<html>
	<head>
		<center>
			<h1>GLS University</h1>
		</center>
	</head>

	<body>
		<center>				
			<img src="{% static 'Images/logo.jpg' %}" width="20%" height="20%">
		</center>
	</body>

	<br><br><br><br>
	<br><br>
	
		<form action='/Mymarks/' method='GET'><!-- action to connect another page--->
		<table cellpadding="10" align="center" border="4" width="50%">
			<tr>
				<td colspan="2">
					<font size="4"><b>Enter Enrollment number and Password to get result</b></font> 
				</td>
			</tr>
			<tr>
				<td>
					Enrollment number	: 
				</td>
				<td>
					<input type="text" name='roll'> 
				</td>
			</tr>
			<tr>
				<td>
					Password : 
				</td>
				<td>
					<input type="password" name='upass'> 
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<center><input type="Submit" name="Login Here" value="Login Here"> </center>
				</td>
			</tr>
			</table>
		</form>

</html>